* {
    //* border: 2px solid black; *//

}

body {
    display: flex;
    align-items: center;
    justify-content: center;
}

.game {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    width: 60vw;
    margin-top: 3vh;
}

.text {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 60vw;
    height: 50vh;


}

.game-text {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 25px;
    font-weight: bold;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.choice {
    background-color: lightskyblue;
    color: blue;
    font-size: 25px;
    border: 2px black solid;
    border-radius: 5px;
    width: 20vw;
    height: 200px;
    margin: -3px;

}

.text>p {
    text-align: center;
    width: 20vw;
    border: 2px black solid;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.round {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 60vw;
    height: 10vh;

}

.round>p {
    text-align: center;
    width: 20vw;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px black solid;
}